target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class
*.log
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea
*.iws
*.iml
*.ipr
.DS_Store
Thumbs.db

.env
application-local.properties